body {
	font-family: 'Ubuntu', sans-serif;
	background-color:#cfe0f5;
	letter-spacing:0.030cm;
	line-height:0.60cm;
	font-size:1.1rem;
	margin: 0 auto;
}
nav {
	display:flex;
	background-color:#FFB366;
	width:auto;
	height:80px;
}
nav li {
	margin-left: 70%;
    margin-right: 23%;
    margin-top: -5%;
	list-style:none;
}
nav ul {
	display:flex;
	margin-left: -13%;
}
nav ul li ul {
	display:table;
	margin-top: -5%;
}
nav ul li ul.AMLD h4.hAMLD {
	margin-top: 30%;
	margin-bottom: 32%;
}
nav ul li ul.AMLD {
	margin-top: -12%;
    width: 88%;
}
nav ul li ul div.blockM {
	height: 2%;
    width: 0%;
	visibility:hidden;
}
nav ul li ul:hover {
	background-color:#FFB366;
}
nav ul li ul:hover div.blockA {
	visibility:visible;
}
nav ul li ul:hover div.blockM {
	visibility:visible;
}
nav ul li ul div.blockA {
	height: 2%;
    width: 0%;
	visibility:hidden;
}
nav a {
	background-color:#FFB366;
}
img.NavLinkImg {
	height:100%;
}
a {
	text-decoration:none;
	color:Black;
}
a.Links {
	margin-left:25%;
	margin-right:13%;
	margin-top:1.8%;
}
section {
	display:flex;
	align-items:center;
	margin-top:3%;
	margin-left:2%;
	margin-bottom:2%;
}
img.figure {
	width: 100%;
}
p {
	text-align:justify;
	margin-right: 2%;
}
figure.temas {
	display:flex;
	margin-bottom: 2%;
}
img.figureM {
	margin-left: 9%;
	height:250px;
}
img.figureA{
	margin-left: 14%;
	height:250px;
}
div.Web{
	margin-left:5%;
	margin-right:3%;
	height:100%;
}
div.AMLD{
	margin-left:5%;
	margin-right:3%;
	height:100%;
}
footer {
	background-color:#ACCAF0;
	width:auto;
	height: 156px;
	margin-bottom:0px;
}
img.LinkImg {
	height:50px;
	margin-left: 47%;
	margin-top: 1%;
}
h5.footer {
	margin-left: 37%;
}
a:hover {
	color:White;
}